# Demonstrating various built-in functions in one code

In [12]:
# print()
print("Using print():")
print("Hello, World!")  # Output: Hello, World!

Using print():
Hello, World!

In [13]:
# len()
print("\nUsing len():")
my_list = [1, 2, 3, 4]
print("Length of my_list:", len(my_list))  # Output: 4

Using len():
Length of my_list: 4

In [14]:
# type()
print("\nUsing type():")
num = 123
print("Type of num:", type(num))  # Output: <class 'int'>

Using type():
Type of num: <class 'int'>

In [15]:
# int(), float(), str()
print("\nUsing int(), float(), and str():")
num_str = "10"
print("String to int:", int(num_str))  # Output: 10
print("String to float:", float(num_str))  # Output: 10.0
print("Integer to string:", str(10))  # Output: '10'

Using int(), float(), and str():
String to int: 10
String to float: 10.0
Integer to string: 10

In [16]:
# sum()
print("\nUsing sum():")
print("Sum of my_list:", sum(my_list))  # Output: 10

Using sum():
Sum of my_list: 10

In [17]:
# max(), min()
print("\nUsing max() and min():")
print("Max of my_list:", max(my_list))  # Output: 4
print("Min of my_list:", min(my_list))  # Output: 1

Using max() and min():
Max of my_list: 4
Min of my_list: 1

In [18]:
# sorted()
print("\nUsing sorted():")
unsorted_list = [3, 1, 4, 2]
print("Sorted list:", sorted(unsorted_list))  # Output: [1, 2, 3, 4]

Using sorted():
Sorted list: [1, 2, 3, 4]

In [19]:
# abs()
print("\nUsing abs():")
print("Absolute value of -10:", abs(-10))  # Output: 10

Using abs():
Absolute value of -10: 10

In [25]:
# round()
print("\nUsing round():")
pi = 3.14159
print("Rounded value of pi to 2 decimal places:", round(pi, 2))  # Output: 3.14
print("Rounded value of pi: to nearest decimal:", round(pi))

Using round():
Rounded value of pi to 2 decimal places: 3.14
Rounded value of pi: to nearest decimal: 3

**zip(): Combines two or more iterables element-wise into tuples.**

In [27]:
# zip()
print("\nUsing zip():")
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
zipped = zip(list1, list2)
print("Zipped list:", list(zipped))  # Output: [(1, 'a'), (2, 'b'), (3, 'c')]

Using zip():
Zipped list: [(1, 'a'), (2, 'b'), (3, 'c')]

In [28]:
bin(4)

'0b100'

In [29]:
oct(8)

'0o10'

In [30]:
bin(10)

'0b1010'

In [31]:
hex(9)

'0x9'

**In Python, the id() function returns a unique identifier for an object. This identifier is typically the memory address where the object is stored (although the exact value may differ between implementations of Python). The id() function is useful for checking whether two variables point to the same object in memory.**

In [34]:
a = 10
b = 10
c = [1, 2, 3]
d = [1, 2, 3]

print(id(a))  # Outputs the unique id of the object a points to
print(id(b))  # Same as a, because integers are immutable and Python reuses the object
print(id(c))  # Outputs the unique id of the list c
print(id(d))  # Different from c, even though the lists are identical

140729916113992
140729916113992
1374586817152
1374586939072

In [37]:
ord('c') #print ascii code of char

99

In [40]:
help('print')

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [42]:
help('sum')

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.